@import "tailwindcss";

/* file: src/index.css hoặc globals.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari và Edge */
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE và Edge */
    scrollbar-width: none;
    /* Firefox */
}

.ant-pro-footer-bar {
    z-index: 1000;
    background-color: white;
}

.ant-menu-horizontal {
    border-bottom: unset !important;
}

.ql-editor {
    min-height: 350px !important;
    overflow: hidden;
}


.customize-form-item {
    .ant-form-item {
        margin-bottom: 0 !important;
    }
}