.space-auth-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #020024, #000);
    position: relative;
    overflow: hidden;
}

/* ---------- FORM ---------- */
.form {
    position: relative;
    z-index: 2;
    padding: 2.6rem;
    max-width: 550px;
    width: 90%;
    background: linear-gradient(14deg,
            rgba(2, 0, 36, 0.8) 0%,
            rgba(24, 24, 65, 0.7) 66%,
            rgb(20, 76, 99) 100%),
        radial-gradient(circle,
            rgba(2, 0, 36, 0.5) 0%,
            rgba(32, 15, 53, 0.2) 65%,
            rgba(14, 29, 28, 0.9) 100%);
    border: 2px solid #fff;
    box-shadow: 0 0 40px rgba(0, 212, 255, 0.3);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
}

/* ---------- TITLE ---------- */
.form-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 8px #00d4ff, 0 0 16px #00d4ff;
}

.title-2 {
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 0.25rem;
    color: transparent;
    -webkit-text-stroke: 0.1rem #fff;
    text-shadow: 0 0 20px #ffffff, 0 0 40px #00d4ff;
    margin-bottom: 1.8rem;
    white-space: nowrap;
}

/* ---------- INPUT ---------- */
.input-container {
    margin-bottom: 1rem;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-family: monospace;
    font-size: 0.9rem;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 0.3s ease;
}

.input-container input::placeholder {
    color: #aaa;
}

.input-container input:focus {
    border-color: #00d4ff;
    box-shadow: 0 0 8px #00d4ff;
}

/* ---------- BUTTON ---------- */
.submit {
    width: 100%;
    padding: 12px;
    border: 2px solid #fff;
    border-radius: 6px;
    background: linear-gradient(90deg, #243949 0%, #517fa4 100%);
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.submit:hover {
    box-shadow: 0 0 20px #ffffff;
    background: linear-gradient(90deg, #517fa4 0%, #243949 100%);
}